@charset "UTF-8";

/* Resetando config padrao do site  */

*{
    margin: 0;
    padding: 0;
}

/* Configs gerais */

body{
    background-color: lightgray;
}

main{
    height: 900px;
}

section{
    margin: 10px 15px;
    width: auto;
    height: auto;
    background-color: white;
    border-radius: 8px;
    box-shadow: 100%;
    padding: 4px;
}

footer{
    background-color: firebrick;
    text-align: center;
    padding: 10px;
    position: relative;
    bottom: 0;
    width: auto;
    color: white;
    text-align: center;
    font-size: 13px;
}

h1{
    color: white;
    font-size: 50px;
}

p{
    text-align: justify;
    padding: 3px;
}

.titulo{
    text-align: center;
    padding-top: 8px;
    padding-bottom: 8px;
}

/* Layout */

.area-cabeca{
    background-color: firebrick;
    padding: 5px;
    text-align: center;
}

.area-logo, .area-menu{
    padding: 8px;
}

.direitos{
    text-align: center;
    font-weight: bold;
    font-size: 18px;
}

.autoria{
    text-align: center;
    font-weight: bold;
    font-size: 12px;
}

a{
    color: white;
    font-size: 17px;
    padding: 4px;
    margin: 5px;
    border-radius: 3px;
    text-decoration: none;
    font-weight: 600;
}

a:hover, a:active{
    background-color: white;
    color: firebrick;
}

table{
    border: 1px solid;
}